.tag-item{
    padding: 5px 8px;
    background-color: #93f6e8;
    display: inline-block;
    margin-right: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    &__close{
        position: absolute;
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        top: -4px;
        right: -4px;
        background-color: #ff0000;
        cursor: pointer;
    }
}
p{
    margin: 0;
    cursor: pointer;
}