.tag-item{
    padding: 6px 8px;
    background-color: #ace1fc;
    display: inline-block;
    margin-right: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    &.active{
        border: 2px solid #10b524;
    }
    &__close{
        position: absolute;
        color: #262626;
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: center;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        top: -4px;
        right: -4px;
        background-color: #e05757;
        cursor: pointer;
    }
    p{
        margin: auto;
    }
}
